@font-face {
    font-family: 'BatmanForeverAlternate';
    src: url('BatmanForeverAlternate.woff2') format('woff2'),
        url('BatmanForeverAlternate.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dune Rise';
    src: url('Dune_Rise.woff2') format('woff2'),
        url('Dune_Rise.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

